<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" href="~/Content/favicon.png">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top"  style="background-color:#2D3E52">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <h5 style="color:white; margin-left:610px; font-size:medium">VSTS RollUp</h5>

            </div>
            @*<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>*@
        </div>
    </div>
    <div class=" body-content">
        @RenderBody()
        <footer class="footer navbar navbar-default navbar-fixed-bottom">
            <p style="color:white;">&copy; @DateTime.Now.Year - Canarys Automations Pvt. Ltd</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style type="text/css">
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 45px;
        background-color: #2D3E52;
        padding-top: 8px;
        text-align: center;
        color: #ffffff;
    }

    .navbar-inverse {
        border-color: white;
    }
</style>
